@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Light.ttf') format('truetype');
}
body, html {
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-family: 'Ubuntu', sans-serif;
}
.page-frame {
    background-color: #FFF;
}