.chart-block {
    margin-bottom: 20px;
}
.select2-container .select2-choice {
    height: 35px;
    line-height: 35px;
}
.select2-container .select2-choice .select2-arrow b {
    background-size: 60px 55px !important;
}